body {
}

main {
}

.header {
    height: 15vh;
    width: auto;
    background-color: #f4f4f4;

}

.search-container {
    position: relative;
    width: 300px;
}

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}