/* ------------------------------
    Importação de fontes
------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Federo&family=Notable&family=Poiret+One&display=swap');

@font-face {
    font-family: "Breamcatcher";
    src: url("breamcatcher\ rg.otf") format("opentype");
    font-weight: normal;
}

/* ------------------------------
    Reset básico
------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------
    Layout principal
------------------------------ */
body {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #141E23;
}

/* ------------------------------
    Título principal
------------------------------ */
h1 {
    font-family: "Breamcatcher", sans-serif;
    font-size: 4.5rem;
    color: white;
    text-shadow: 2px 2px 10px #000;
    display: inline-block;
}

/* ------------------------------
    Texto descritivo
------------------------------ */
p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    padding: 0 20px;
    font-family: "Poiret One", sans-serif;
    color: #E5E5E5;
    text-shadow: 1px 1px 3px #000;
    margin-bottom: 20px;

}

/* ------------------------------
    Caixa de imagem principal
------------------------------ */
.image-box img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* ------------------------------
    Container de links
------------------------------ */
.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    gap: 20px; /* Espaçamento entre os containers */
    margin-top: 20px;
    justify-content: center;
}

/* ------------------------------
    Estilo para cada box de link
------------------------------ */
@media (max-width: 1024px) {
    .links-container {
        grid-template-columns: 1fr;
    }

    .link-box {
        width: 90%;
        height: auto;
    }
}

.link-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 550px; /* Altura fixa */
    overflow: hidden;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 480px; /* Largura fixa */
}

.link-box:hover {
    transform: scale(1.05); /* Leve aumento */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    justify-content: space-between;
}

/* Títulos dentro dos containers */
.link-box h3 {
    font-family: "Federo", serif;
    font-size: 1.5rem;
    color: #545730; /* Dourado */
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Parágrafos dentro dos containers */
.link-box p {
    font-size: 1rem;
    color: #E5E5E5; /* Cinza claro */
    margin-bottom: 15px;
}

/* Imagens dentro dos containers */
.link-box img {
    max-width: 90%; /* A imagem ocupa toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

/* Links dentro dos containers */
.link-box a {
    font-family: "Cinzel", serif;
    display: inline-block;
    color: #7d7835; /* Dourado */
    text-decoration-thickness: 2px;   /* mais grossa */
    text-underline-offset: 4px;       /* mais afastada do texto */
    font-weight: bold;
    padding: 13px 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.link-box a:hover {
    color: #989240; /* Texto escuro */
    text-shadow: 0 0 4px #9f994676; /* Brilho suave no texto */
}

.link-button {
    position: relative; /* Necessário para posicionar a sombra */
    text-align: center;
    margin-top: auto; /* Garante que o botão fique no final */

    transition: box-shadow 1s ease; /* Transição mais suave para a sombra */
    height: 80px;
}

.link-button.hidden {
    box-shadow: none; /* Remove a sombra quando escondida */
}

.link-button a {
    margin-top: 2rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 550px; /* Altura fixa */
    border-radius: 2px;
    max-width: 440px; /* Largura fixa */
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Aplica sombra invertida quando o conteúdo pode ser rolado para cima */
.title-box.shadow-visible {
    box-shadow: 0px 12px 12px -9px rgba(0, 0, 0, 0.5);
}

/* Sombra removida explicitamente (se necessário para esconder) */
.title-box.hidden {
    box-shadow: none;
}

.title-box img {
    max-width: 90%;
}

/* Efeito hover */
.title-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
    justify-content: space-between;
}


/* ------------------------------
    Área rolável com sombra
------------------------------ */
.scrollable-wrapper {
    position: relative; /* Necessário para posicionar os pseudo-elementos */
    flex-grow: 1; 
    overflow: hidden; /* Esconde as sombras fora do contêiner */
}

.scrollable-content {
    height: 100%; /* Garante que o conteúdo ocupe o espaço disponível */
    overflow-y: auto; /* Permite rolagem vertical */
}

/* Estilização da barra de rolagem */
.scrollable-content::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem menor */
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #192128d6; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas para a barra */
}

.link-button.shadow-visible {
    box-shadow: 0 -12px 12px -9px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

/* ------------------------------
    header
------------------------------ */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header .image-box {
    margin-bottom: 1rem;
}  

header p {
    max-width: 800px;
    line-height: 1.6;
}
/* ------------------------------
    Footer
------------------------------ */
.footer {
    position: relative; /* Footer no final do conteúdo */
    width: 100%; /* Ocupa toda a largura da página */
    height: 100px; /* Altura do footer */
    background-color: #121A21; /* Fundo escuro */
    text-align: center; /* Centraliza o texto horizontalmente */
    color: #E5E5E5;
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
}

.copy {
    padding-top: 50px;
}

/* ------------------------------
    Imagens decorativas nos cantos
------------------------------ */
.corner-images {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Distribui as imagens com espaço entre elas */
    align-items: center; /* Centraliza as imagens verticalmente */
    width: 100%; /* Ocupa toda a largura da página */
    margin-bottom: 10px; /* Espaço entre as imagens e o footer */
}

/* Estilo para as imagens */
.corner-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    padding: 10px;
}

.corner-image.top-left {
    transform: scale(-1, 1); /* Inverte horizontalmente */
}

.corner-image.bottom-left {
    transform: scale(-1, -1); /* Inverte horizontal e verticalmente */
}

.corner-image.bottom-right {
    transform: scale(1, -1); /* Inverte verticalmente */
}

.corner-image.bottom-center.invisible {
    visibility: hidden; /* Torna a imagem invisível */
    width: 100px; /* Mantém o espaço ocupado */
    height: auto;
}