body {
    background-color: gold;
    font-family: Georgia;
}
h1 {
    font-size: 80px; color: #dd0000;
    text-align: center;
}
h2 {
    color: #dd0000;
    text-align: center;
}
p {
    color: #dd0000;
    font-size: 200%;
    border: 3px solid #000099;
    padding: 5px;
}
a:link, a:visited {
    background-color: #dd0000;
    color: gold;
    padding: 10px;
    text-align: center;
    font-size: 200%;
    display: inline-block;
}
pre {
    background-color: #dd0000;
}
header, footer {
    font-family: Trebuchet MS;
}
img {
    width: 20%;
    height: 20%;
    margin: 15px;
    border: 5px solid #dd0000;
    padding: 5px;
}
table {
    font-family: Georgia;
    border: 2px double #dd0000;
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid #000099;
    text-align: center;
    padding: 8px;
}
td {
    border: 1px solid #000099;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dd0000;
}
td:hover {
    background-color: #55aaff;
}